# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/CFFEX_IC/
/CFFEX_IF/
/CFFEX_IH/
/CFFEX_T/
/CFFEX_TF/
/DCE_A/
/DCE_C/
/DCE_CS/
/DCE_I/
/DCE_J/
/DCE_JM/
/DCE_L/
/DCE_M/
/DCE_P/
/DCE_PP/
/DCE_V/
/DCE_Y/
/FIXED_INCOME/
/INDEX/
/SHFE_AG/
/SHFE_AL/
/SHFE_AU/
/SHFE_BU/
/SHFE_CU/
/SHFE_HC/
/SHFE_NI/
/SHFE_PB/
/SHFE_RB/
/SHFE_RU/
/SHFE_SN/
/SHFE_ZN/
